<div>
  <ngx-spinner
    bdColor = "rgba(0, 0, 0, 0.8)"
    size = "medium"
    color = "#fff"
    type = "square-jelly-box"
    [fullScreen] = "true">
    <p style="color: white" > {{ 'global.loading' | translate }} </p>
  </ngx-spinner>
<!--  <app-navbar-client></app-navbar-client>-->
  <router-outlet></router-outlet>
<!--  <app-footer-client></app-footer-client>-->
</div>
