<app-breadcrumb-admin [single]="false" titlePage="Editar Producto" backPage="Productos" url="products"></app-breadcrumb-admin>

<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h3><fa-icon [icon]="faHandPointer"></fa-icon> Editar Producto</h3>
      </div>
      <div class="card-body">
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <div class="row">
            <div class="col-12 col-lg-8">
              <label for="name"  class="label-flags">
                <img src="assets/images/flags/Flag_of_mexico.png" width="20px" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
                <img src="assets/images/flags/Flag_of_United.svg" width="20px" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
                <span> Nombre</span>
              </label>
              <input type="text" name="name" id="name" placeholder="Nombre" class="form-control" [(ngModel)]="product.name.es" required *ngIf="serviceTranslation.getLang() == 'es'">
              <input type="text" name="name" placeholder="Nombre" class="form-control" [(ngModel)]="product.name.en" required *ngIf="serviceTranslation.getLang() == 'en'">
              <label for="description"  class="label-flags">
                <img src="assets/images/flags/Flag_of_mexico.png" width="20px" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
                <img src="assets/images/flags/Flag_of_United.svg" width="20px" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
                <span> Descripción</span>
              </label>
              <ckeditor [editor]="Editor" [(ngModel)]="product.description.es" [data]="product.description.es" name="description" id="description" *ngIf="serviceTranslation.getLang() == 'es'"></ckeditor>
              <ckeditor [editor]="Editor" [(ngModel)]="product.description.en" [data]="product.description.en" name="description" *ngIf="serviceTranslation.getLang() == 'en'"></ckeditor>
              <label for="details"  class="label-flags">
                <img src="assets/images/flags/Flag_of_mexico.png" width="20px" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
                <img src="assets/images/flags/Flag_of_United.svg" width="20px" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
                <span> Detalles</span>
              </label>
              <ckeditor [editor]="Editor" [(ngModel)]="product.details.es" [data]="product.details.es" name="details" id="details" *ngIf="serviceTranslation.getLang() == 'es'"></ckeditor>
              <ckeditor [editor]="Editor" [(ngModel)]="product.details.en" [data]="product.details.en" name="details" *ngIf="serviceTranslation.getLang() == 'en'"></ckeditor>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card p-2">
                <div *ngFor="let category of categories">
                  <label *ngIf="serviceTranslation.getLang() == 'es'">
                    <span *ngIf="category.name.es">{{ category.name.es }}</span>
                    <span *ngIf="!category.name.es">Editar </span>
                  </label>
                  <label *ngIf="serviceTranslation.getLang() == 'en'">
                    <span *ngIf="category.name.en">{{ category.name.en }}</span>
                    <span *ngIf="!category.name.en">Editar </span>
                  </label>
                  &nbsp;
                  <input type="checkbox" (click)="push(category._id)" [checked]="category.status">
                  <app-product-categories [parent]="category._id" (categorySelect)="push($event)" [categoriesSelect]="product.categories"></app-product-categories>
                </div>
              </div>
            </div>
          </div>
          <div class="position-relative form-group">

            <label for="image" class="">Imagen</label>
            <div class="row">
              <div class="col-4">
                <img [src]="url_images + imageInit" class="img-fluid" [alt]="imageInit" *ngIf="imageInit">
                <img [src]="thumbnail" *ngIf="thumbnail" class="img-fluid">
                <img src="assets/images/missing.png" *ngIf="!imageInit && !thumbnail" class="img-fluid" (error)="replaceImage(image)" #image>
              </div>
              <div class="col-4 d-flex align-items-center">
                <div class="upload-btn-wrapper">
                  <button class="btn btn-primary">Selecciona un archivo</button>
                  <input type="file" name="image" id="image" (change)="getImage($event)">
                </div>
              </div>
            </div>
          </div>
          <label for="key"  class="label-flags">
            <span> Codigo</span>
          </label>
          <input type="text" name="key" placeholder="Codigo" id="key" class="form-control" [(ngModel)]="product.code">
          <label for="model"  class="label-flags">
            <span> Modelo</span>
          </label>
          <input type="text" name="model" placeholder="Modelo" id="model" class="form-control" [(ngModel)]="product.modelo">
          <label for="price"  class="label-flags">
            <span> Precio</span>
          </label>
          <input type="number" min="0" name="price" placeholder="Precio" id="price" class="form-control" [(ngModel)]="product.price">

          <div class="alert alert-primary mt-3" role="alert">
            <fa-icon [icon]="faImages"></fa-icon> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3"  *ngFor="let image of images; let i=index">
                  <img [src]="url_images + image.name" class="img-fluid" [alt]="image.name">
                  <a  (click)="activeImage(image.id)" style="cursor: pointer;">
                    <fa-icon [icon]="faPowerOff" class="text-success" *ngIf="image.active"></fa-icon>
                    <fa-icon [icon]="faPowerOff" class="text-danger" *ngIf="!image.active"></fa-icon>
                  </a>
                  <a class="text-danger ml-2" (click)="deleteImage(image.id)" style="cursor: pointer;">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastra tus Images</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
          <button type="submit" [disabled]="form.invalid" class="mt-2 float-end btn btn-primary">
            <fa-icon [icon]="faSave"></fa-icon>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>



