<app-breadcrumb-admin [single]="true" titlePage="Galerias"></app-breadcrumb-admin>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3><fa-icon [icon]="faTable"></fa-icon> Tabla de Gallerias</h3>
          </div>
          <div class="col-6">
            <h3 class="float-end text-primary"><a [routerLink]="['/admin/galleries/create']"><fa-icon [icon]="faPlus"></fa-icon></a></h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead class="bg-primary  text-white">
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Referencia</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gallery of galleries |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
              <td>
                <a [routerLink]="['/admin/galleries/edit', gallery.id]" title="Editar">
                  <span *ngIf="serviceTranslation.getLang() == 'es'">
                    <span *ngIf="gallery.name.es">{{ gallery.name.es }}</span>
                    <span *ngIf="!gallery.name.es">Editar</span>
                  </span>
                  <span *ngIf="serviceTranslation.getLang() == 'en'">
                    <span *ngIf="gallery.name.en">{{ gallery.name.en }}</span>
                    <span *ngIf="!gallery.name.en">Editar</span>
                  </span>
                </a>
              </td>
              <td [ngSwitch]="gallery.type">
                <span *ngSwitchCase="'categories'">Categorias</span>
                <span *ngSwitchCase="'products'">Productos</span>
                <span *ngSwitchCase="'news'">Noticias</span>
                <span *ngSwitchDefault>Default</span>
              </td>
              <td>{{ getReference(gallery.reference, gallery.type) }}</td>
              <td width="100px" class="text-center" >
                <fa-icon [icon]="faPowerOff" [ngClass]="{'text-success': gallery.active, 'text-danger': !gallery.active }"
                         class="ms-1 cursor"
                         title="Activo"
                         (click)="active(gallery.id)" >
                </fa-icon>
                <fa-icon [icon]="faTrashAlt"
                         class="text-danger ms-1 cursor"
                         title="Eliminar"
                         (click)="delete(gallery.id)">
                </fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=9
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <!-- end table-responsive-->
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
</div>
