<app-breadcrumb-admin [single]="true" titlePage="Blogs"></app-breadcrumb-admin>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3 text-white">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3><fa-icon [icon]="faTable"></fa-icon> Tabla de Blogs</h3>
          </div>
          <div class="col-6">
            <h3 class="float-end text-primary"><a [routerLink]="['/admin/blogs/create']"><fa-icon [icon]="faPlus"></fa-icon></a></h3>
          </div>
        </div>
      </div>
      <div class="card-body text-white">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead class="bg-primary  text-white">
            <tr>
              <th width="200px">Nombre</th>
              <th>Intro</th>
              <th width="200px">Fecha</th>
              <th width="100px">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let blog of blogs |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
              <td>
                <a [routerLink]="['/admin/blogs/edit', blog._id]" title="Editar">
                  <span *ngIf="serviceTranslation.getLang() == 'es'">
                    <span *ngIf="blog.title.es">{{ blog.title.es }}</span>
                    <span *ngIf="!blog.title.es">Editar</span>
                  </span>
                  <span *ngIf="serviceTranslation.getLang() == 'en'">
                    <span *ngIf="blog.title.en">{{ blog.title.en }}</span>
                    <span *ngIf="!blog.title.en">Editar</span>
                  </span>
                </a>
              </td>
              <td>
                <span *ngIf="serviceTranslation.getLang() == 'es'" [innerHTML]="blog.intro.es"></span>
                <span *ngIf="serviceTranslation.getLang() == 'en'" [innerHTML]="blog.intro.en"></span>
              </td>
              <td>{{ blog.date | date: 'fullDate' }}</td>
              <td class="text-center" >
                <fa-icon [icon]="faPowerOff" [ngClass]="{'text-success': blog.active, 'text-danger': !blog.active }"
                         class="ms-1 cursor"
                         title="Activo"
                         (click)="active(blog._id)" >
                </fa-icon>
                <fa-icon [icon]="faTrashAlt"
                         class="text-danger ms-1 cursor"
                         title="Eliminar"
                         (click)="delete(blog._id)">
                </fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=9
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <!-- end table-responsive-->
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
</div>
